$primary: #c4996f;
$primaryLight: #d0c0ac9a;
$secondary: #3b5336;
$offwhite: #f4f6f7;
$blue: #344558;

html,
body {
  font-family: "Manrope", sans-serif;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

